

/*----------------------------
    The file upload form
-----------------------------*/
a#bt-fechar-upload{
	margin:0px 0px 0px 0px;
	position:relative;
	top:-35px;
	right:-110px;
	background:#AAA url(../../img/Untitled-1.png) no-repeat center center;
	padding-left:19px;
	padding-right:18px;
	padding-top:8px;
	padding-bottom:9px;
}

#upload{
	margin:0px 0px 0px -200px;
    font-family:'PT Sans Narrow', sans-serif;
	background:#222 url(../../img/background.upload.png) no-repeat 290px 20px;
	position:absolute;
	left:50%;
	top:100px;
    width:400px;
	height:auto;
    padding:20px;
	box-shadow:0px 0px 200px #CF3;
	border:solid 1px #000;
}

#drop{
	margin:0px 0px 0px 0px;
    text-align: center;
    text-transform: uppercase;

    font-size:16px;
    font-weight:bold;
    color:#7f858a;
	padding:0px;
}

#drop a{
	float:left;
	background:#FF3;
    padding:12px 26px;
    color:#222;
    font-size:14px;
    cursor:pointer;
    display:inline-block;
    margin-top:12px;
    line-height:1;
}

#drop a:hover{
    background-color:#0D0;
}

#drop input{
    display:none;
}

#upload ul{
	float:left;
	width:400px;
	height:auto;
    list-style:none;
    margin:10px 0px 0px 0px;
	padding:0px;
}

#upload ul li{

    background:#111;
    padding:15px;
    height: 52px;
    position: relative;
}

#upload ul li input{
    display: none;
}

#upload ul li p{
    width: 144px;
    overflow: hidden;
    white-space: nowrap;
    color: #EEE;
    font-size: 16px;
    font-weight: bold;
    position: absolute;
    top:0px;
    left: 100px;
}

#upload ul li i{
    font-weight: normal;
    font-style:normal;
    color:#7f7f7f;
    display:block;
}

#upload ul li canvas{
    top: 15px;
    left: 32px;
    position: absolute;
}

#upload ul li span{
    width: 15px;
    height: 12px;
    background: url('../img/icons.png') no-repeat;
    position: absolute;
    top: 34px;
    right: 33px;
    cursor:pointer;
}

#upload ul li.working span{
    height: 16px;
    background-position: 0 -12px;
}

#upload ul li.error p{
    color:red;
}

